* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Serif";
  overflow-x: visible;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  width: auto;
  padding: 20px 0 7px 0;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo img {
  width: 140px;
}

.nav-item {
  margin: 0 15% 0 25%;
  width: 25%;
}

.nav-item ul {
  display: flex;
}

.nav-item li {
  list-style: none;
  margin: 0 15px;
}

.nav-item a {
  display: inline-block;
  transition: 0.7s;
}

.nav-item .noActive:hover {
  transform: translateY(-6px);
  font-weight: 500;
  color: #000000;
}

.nav-item .noActive {
  text-decoration: none;
  color: #596e79;
  padding-bottom: 5px;
}

.active {
  font-weight: 500;
  color: #000000;
  font-weight: 600;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 3px solid #000000;
  border-radius: 2px;
}

.btn-nav-AI {
  background-color: transparent;
  padding: 10px 40px;
  font-weight: 600;
  font-family: "poppins";
  font-size: 13px;
  cursor: pointer;
  border: 2px solid #dfd3c3;
  color: #dfd3c3;
  text-align: center;
  border-radius: 50px;
  transition: 0.7s;
}

.btn-nav-AI:hover {
  background-color: #dfd3c3;
  color: black;
}

/* HeroVVVVVVVVVVVVVVVV */

.container-hero {
  width: 100vw;
  height: 87vh;
  margin-top: -20px;
  display: flex;
  justify-content: center;
}

.text-hero {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 50px;
}

.image-hero img {
  width: auto;
}

.image-hero {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: right;
}

.header-text-hero h1 {
  width: 80%;
  font-size: 60px;
  font-weight: 500;
}

.kebebasan {
  color: #596e79;
}

.deskripsi-text-hero p {
  width: 90%;
  font-family: "poppins";
  color: #596e79;
  margin: 30px 0 30px 0;
}

.btn-hero-pahlawan {
  background-color: transparent;
  padding: 10px 40px;
  font-weight: 600;
  font-family: "poppins";
  font-size: 13px;
  cursor: pointer;
  border: 2px solid #dfd3c3;
  text-align: center;
  color: #dfd3c3;
  border-radius: 50px;
  transition: 0.7s;
}

.btn-hero-pahlawan:hover {
  background-color: #dfd3c3;
  color: black;
}

.container-tentang{
  /* border: 1px solid rgb(255, 0, 0); */
  width: 100%;
  height: 80vh;
  display: flex;
  margin-bottom: 6%;
  justify-content: space-around;
  align-items: center;
  padding: 70px;
}
.tentang1{
  /* border: 1px solid black; */
  width: 25%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 90px;
}
.tentang2{
  /* border: 1px solid black; */
  width: 50%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  padding: 0 90px;
}
.tentang2 h1{
  font-size: 90px;
  text-align: center;
  font-weight: 300;
  margin-top: 60px;
}
.tentang2 p{
  font-size: 20px;
  font-family: "Poppins";
  text-align: center;
  color: rgb(177, 177, 177);
  padding: 0px 40px 0px 40px;
  margin-top: 80px;
}
.tentang3{
  /* border: 1px solid black; */
  width: 25%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 90px;
}


.container-biografi{
  /* border: 1px solid rgb(255, 0, 0); */
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 6%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* padding: 70px; */
}
.biografi1{
  /* border: 1px solid black; */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  align-items: center;
  /* padding: 0 90px; */
}
.biografi1 h1{
  font-size: 90px;
  text-align: center;
  font-weight: 300;
  margin-top: 60px;
}
.biografi1 p{
  font-size: 20px;
  font-family: "Poppins";
  text-align: center;
  color: rgb(177, 177, 177);
  padding: 0px 40px 0px 40px;
  margin-top: 20px;
}

/* SLIDERRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR */

.card-wrapper{
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.cardlist .carditem{
  width: 400px;
  list-style: none;
}

.cardlist .carditem .cardlink{
  width: 400px;
  user-select: none;
  display: block;
  /* background-color: rgb(255, 255, 255); */
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.cardlink-text{
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.cardlist .carditem .cardimage{
  width: 400px;
  /* aspect-ratio: 16/9; */
  /* object-fit: cover; */
  border-radius: 12px;
  transition: all 0.5s ease;
}


.cardlink:hover{
  .cardimage{
    transform: translateY(-100px);
  }
  .cardlink-text{
    /* transform: translateY(-80px); */
    display: flex;
    flex-direction: column;
  }
}

.cardbutton{
  border: solid 2px black;
  border-radius: 500px;
  background: white;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;

}

.cardlist .carditem .cardlinkk{
  user-select: none;
  display: block;
  /* background-color: rgb(255, 255, 255); */
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  transition: all 0.5s ease;
}

.cardbutton:hover{
  background-color: gray;
}
